In [8]:
# normal expression
doubles =[]
for x in range(1,11):
    doubles.append(x*2)

print(doubles)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [10]:
# list comprehension
# formula --> list = [expression for value in iterable if condition]

doubles = [x*2 for x in range (1,11)]
print(doubles)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [12]:
triples = [y*3 for y in range(1,22)]
print(triples)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63]

In [14]:
squares = [z**2 for z in range (1,11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [22]:
# strings
fruits = ["orange","mango","guava","kiwi","banana","apple"]
fruits = [ fruit.upper() for fruit in fruits]
print(fruits)

['ORANGE', 'MANGO', 'GUAVA', 'KIWI', 'BANANA', 'APPLE']

In [26]:
fruits = ["orange","mango","guava","kiwi","banana","apple"]
frooti = [i[0] for i in fruits]
print(frooti)

['o', 'm', 'g', 'k', 'b', 'a']

In [36]:
numbers = [1,-2,3,-4,5,-6,7,-8,9,-10,0]

positive = [num for num in numbers if num>=0]
print(positive)

negative = [num for num in numbers if num<0]
print(negative)

even = [i for i in numbers if i%2==0]
print(even)

odd = [i for i in numbers if i%2!=0]
print(odd)

[1, 3, 5, 7, 9, 0]
[-2, -4, -6, -8, -10]
[-2, -4, -6, -8, -10, 0]
[1, 3, 5, 7, 9]

In [40]:
grades = [75,88,32,97,12,47,53,69,24,3]
passed = [marks for marks in grades if marks>=33]
print(passed)

[75, 88, 97, 47, 53, 69]

In [44]:
age = [20,88,60,5,10,53,42]

retired = [i for i in age if i>=60]
print(retired)

adult = [i for i in age if i>=18]
print(adult)

[88, 60]
[20, 88, 60, 53, 42]