In [2]:
# Q1
print("Hello, World!")

Hello, World!

In [8]:
# Q2
name = "Anay"
age = 20
print(f"My name is {name}, and I am {age} years old.")

My name is Anay, and I am 20 years old.

In [12]:
# Q3
print("He said, \"Python is awesome!\"")

He said, "Python is awesome!"

In [14]:
# Q4
print("My First name is Anay",end=", " )
print("My Last name is Jha",end=", " )
print("I live in Bhopal",end="." )

My First name is Anay, My Last name is Jha, I live in Bhopal.

In [18]:
# Q5

print('''
Roses are red,
Violets are blue,
Python is Fun,
And so are you.
''')

Roses are red,
Violets are blue,
Python is Fun,
And so are you.

In [22]:
# Q6
number1 = int(input("Enter the first number: ")) 
number2 = int(input("Enter the second number: ")) 
result = number1 + number2
print(f"The sum of {number1} and {number2} is {result}.")

Enter the first number:  69
Enter the second number:  96

The sum of 69 and 96 is 165.

In [15]:
# Q7
# my solution
print("Name", "Age", "Grade", sep = '\t')
print("Anay", "20", "A", sep = '\t')
print("Messi", "37", "A+", sep = '\t', end = '\n')
# gpt solution

print(f"{'Name':<10}{'Age':<10}{'Grade':<10}")
print(f"{'Alice':<10}{'14':<10}{'A':<10}")
print(f"{'Bob':<10}{'13':<10}{'B':<10}")

Name	Age	Grade
Anay	20	A
Messi	37	A+
Name      Age       Grade
Alice     14        A
Bob       13        B

In [42]:
# Q8
print(1,2,3,4,5, sep='-')

1-2-3-4-5

In [44]:
# Q9
# my solution
# day= int(input("Enter today's date: "))
# month= int(input("Enter the current month: "))
# year= int(input("Enter the current year going on: "))

# print(f"Today is {day}/{month}/{year}.")



# gpt solution
from datetime import datetime
today = datetime.now()
print(f"Today is {today.day}/{today.month}/{today.year}.")

Today is 30/12/2024.

In [19]:
# Q10
print(1, 2, 3, 4, 5,end='!')

1 2 3 4 5!

In [109]:
# Data types-
# Q1
num = int(input("Enter the integer: "))
deci = float(num)
num2 = int(deci)

print(f"Float value: {deci}")
print(f"Converted back to integer: {num2}")

Enter the interger:  69

Float value: 69.0
Converted back to integer: 69

In [23]:
# Q2
x = input("Enter a name: ")
y = list(x)
print(x)
print(y)
print(type(x))
print(type(y))

Enter a name:  Anay

Anay
['A', 'n', 'a', 'y']
<class 'str'>
<class 'list'>

In [107]:
# Q3
string1 = input("Enter your school name: ")

y = (string1.upper())
z = (len(string1))
x = (string1[::-1])
print(f"Uppercase: {y}")
print(f"Reversed: {x}")
print(f"Length: {z}")

Enter your school name:  campion

Uppercase: CAMPION
Reversed: noipmac
Length: 7

In [111]:
# Q4
s1 = input("Enter the number here: ")
i1 = int(s1)
x = (i1*10)
print(f"Result after multiplying by 10: {x}")

Enter the number here:  69

Result after multiplying by 10: 690

In [45]:
# Q5
i = int(input("Enter your number nigger: "))

if i>0:
    print(True)
elif i<0:
    print(False)
else:
    print("Zero")

Enter your number nigger:  -5

False

In [117]:
# Q6
tuple1 = (9,6.2, 'mommy', True, None)
x=(tuple1[3])
y=(tuple1.count('mommy'))
z=(tuple1.index(9))
print(f"Third element: {x}")
print(f"Occurrences of 'mommy': {y}")
print(f"Index of 9: {z}")

Third element: True
Occurrences of 'mommy': 1
Index of 9: 0

In [119]:
# Q7
list1 = list(input('Enter first list: '))
list2 = list(input('Enter second list: '))

print(list1)
print(list2)

set1 = set(list1)
set2 = set(list2)
print(set1)
print(set2)

union = (set1.union(set2))
intersection = (set1.intersection(set2))
difference  = (set1.difference(set2))

print(f"Union: {union}")
print(f"Intersection: {intersection}")
print(f"Difference: {difference}")

Enter first list:  123456
Enter second list:  456789

['1', '2', '3', '4', '5', '6']
['4', '5', '6', '7', '8', '9']
{'6', '5', '2', '4', '1', '3'}
{'9', '7', '6', '5', '4', '8'}
Union: {'9', '7', '6', '5', '2', '4', '8', '1', '3'}
Intersection: {'5', '6', '4'}
Difference: {'2', '1', '3'}

In [71]:
# Q8
dict1 = {'Name':'mehhhsi','Age':37,'Status':'GOAT'}
print(dict1)
dict1['Balon dor'] = 8
print(dict1)
dict1 ['Name'] = 'Messi'
print(dict1)
del dict1 ['Age']
print(dict1)

{'Name': 'mehhhsi', 'Age': 37, 'Status': 'GOAT'}
{'Name': 'mehhhsi', 'Age': 37, 'Status': 'GOAT', 'Balon dor': 8}
{'Name': 'Messi', 'Age': 37, 'Status': 'GOAT', 'Balon dor': 8}
{'Name': 'Messi', 'Status': 'GOAT', 'Balon dor': 8}

In [123]:
# Q10

Student = {
    "Name": "Anay",
    "Age": 20,
    "Subjects": ["Math", "Physics", "Chemistry"]
}
print(Student)

print(Student["Name"])

Student["Subjects"].append("Python") 
print(Student)

Student["Age"] = 22
print(Student)

{'Name': 'Anay', 'Age': 20, 'Subjects': ['Math', 'Physics', 'Chemistry']}
Anay
{'Name': 'Anay', 'Age': 20, 'Subjects': ['Math', 'Physics', 'Chemistry', 'Python']}
{'Name': 'Anay', 'Age': 22, 'Subjects': ['Math', 'Physics', 'Chemistry', 'Python']}

In [129]:
# Q9

In [127]:
squares = [x**2 for x in range(1,21) if x % 2 == 0]
print(squares)

[4, 16, 36, 64, 100, 144, 196, 256, 324, 400]

In [131]:
# operators
# Q1
num1 = int(input("Enter the first number:"))
num2 = int(input("Enter the second number:"))
a = num1+num2
b = num1-num2
c = num1*num2
d = num1/num2
e = num1%num2

print(f"Addition is: {a}")
print(f"Subtraction is: {b}")
print(f"Multiplication is: {c}")
print(f"Division is: {d}")
print(f"Modulus is: {e}")

Enter the first number: 69
Enter the second number: 31

Addition is: 100
Subtraction is: 38
Multiplication is: 2139
Division is: 2.225806451612903
Modulus is: 7

In [137]:
# Q2
n1=int(input("Enter the first number:"))
n2=int(input("Enter the second number:"))

if n1>n2:
    print(f"{n1} is greater than {n2}")
elif n1<n2:
    print(f"{n1} is less than {n2}")
else:
    print(f"{n1} is equal to {n2}")

Enter the first number: 89
Enter the second number: 99

89 is less than 99

In [141]:
# Q3
x = int(input("Enter the number: "))
if x>0 and x%2==0:
    print("Great success")
else:
    print("fail")

Enter the number:  7

fail

In [149]:
# Q4
x = int(input("Enter the number: "))
print("Increased value by 5 is",x+5)
print("Multiplied it by 3 is",x*3)
print("Remainder when divided by 4 is ",x%3)

Enter the number:  6

Increased value by 5 is 11
Multiplied it by 3 is 18
Remainder when divided by 4 is  0

In [153]:
# Q5
x = 2
y = 3
print(x&y)
print(x|y)
print(x^y)

a = 8
print(a>>2)
b = 3
print(b<<3)

2
3
2
24

In [157]:
# Q6
a = "anay"
b = "anay"
print(a is not b)
c = 'only fans'
d = 'good'
print(c is not d)

True
True

In [10]:
# Q7

S1 = "jupyter notebook"
L1 = ["Hey",23452,3343.2242, False, None, "jupyter", "notebook"]
print("y" in S1)
print(72368919 in L1)
print(23452 not in L1)
print('True' not in S1)

True
False
False
True

In [16]:
# Q9
num = int(input("Enter the number: "))
if 10<=num<=20:
    print("Number is present between 10 and 20")
else:
    print("Number is not")

Enter the number:  99

Number is not

In [20]:
# Q10
num1 = int(input("Enter the first number: "))
op = input("Enter the operator(+,-,*,/,%,**,//): ")
num2 = int(input("Enter the second number: "))


if op=='+':
    print(num1+num2)
elif op=='-':
    print(num1=num2)
elif op=='*':
    print(num1*num2)
elif op=='**':
    print(num1**num2)
elif op=='%':
    print(num1%num2)
elif op=='/':
    if num2!=0:
        print(num1/num2)
    else:
        print('ERROR BITCH')
elif op=='//':
    if num2!=0:
        print(num1//num2)
    else:
        print('ERROR BITCH')
else:
    print('INCORRECT INPUTS')

Enter the first number:  -99
Enter the operator(+,-,*,/,%,**,//):  +
Enter the second number:  100

1

In [22]:
# Q8
result = 10+20*3/2-5
print(f'Result of this expression is {result}.')

Operator precedence determines the order:

# Multiplication (*) and Division (/) are evaluated first (left to right).
# Addition (+) and Subtraction (-) are evaluated next (left to right). Thus:
# 20 * 3 = 60
# 60 / 2 = 30.0
# 10 + 30.0 = 40.0
# 40.0 - 5 = 35.0

Result of this expression is 35.0.

In [30]:
# VARIABLES
# Q1
int1 = 69
flo = 2.31
st = 'Anay'
boom = False
print(int1,flo,st,boom)
print(type(int1))
print(type(flo))
print(type(st))
print(type(boom))

69 2.31 Anay False
<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [46]:
# Q2
a = int(input("Enter the value of a:"))
b = int(input("Enter the value of b:"))
a,b = b,a
print(f'After swapping the values of a is {a} and b is {b}.')

Enter the value of a: 9
Enter the value of b: 6

After swapping the values of a is 6 and b is 9.

In [52]:
# Q3
var = 9
print(var)
var = 'string value'
print(var)
var = 953423.897439
print(var)

9
string value
953423.897439

In [54]:
# Q4
var1 = int(input("Enter the first number: "))
var2 = int(input("Enter the second number: "))

print(f'Sum is',var1+var2)
print(f'Difference is',var1-var2)
print(f'Product is',var1*var2)

Enter the first number:  9
Enter the second number:  6

Sum is 15
Difference is 3
Product is 54

In [58]:
# Q5
# def f(num):
#     num = int(input("Enter the value of num: "))
#     print(num)

# f(num)
# print(num)
# my sol

# gpt sol
# Declare a global variable
x = "Global Variable"

def my_function():
    # Declare a local variable with the same name
    x = "Local Variable"
    print("Inside the function:", x)  # Accessing the local variable

# Call the function
my_function()

# Print the global variable
print("Outside the function:", x)

Inside the function: Local Variable
Outside the function: Global Variable

In [64]:
# Q6
E = 2.71828
print(10**E)

522.7330988640375

In [66]:
# Q7
a = 5
b = 3
c = 8

result = a**2 + b*c - a*b + c/2
print(f'Result of the aforementioned expression is ',result)

Result of the aforementioned expression is  38.0

In [72]:
# Q8
a,b,c,d = 1,2,3,4
a,b = b,a
c,d=d,c
print(a,b,c,d)

2 1 4 3

In [76]:
# Q9
li = ['ssd','yup',34,24,True]
a = li[0]
b = li[1]
c = li[2]
print(a)
print(b)
print(c)

ssd
yup
34

In [80]:
# Q10
var = 'string'
print(var)
print(type(var))

var = 8792
print(var)
print(type(var))

var = [1,2,454.2,True]
print(var)
print(type(var))

var = (1,2,3,4)
print(var)
print(type(var))

var = {1,2,3,4}
print(var)
print(type(var))

string
<class 'str'>
8792
<class 'int'>
[1, 2, 454.2, True]
<class 'list'>
(1, 2, 3, 4)
<class 'tuple'>
{1, 2, 3, 4}
<class 'set'>

In [88]:
# conditionals
# Q1
num = int(input("Enter the number here: "))
if num>0:
    print("Number is positive")
elif num==0:
    print("Number is zero")
else:
    print("Number is negative")

Enter the number here:  0

Number is zero

In [92]:
# Q2
a = int(input("Enter the number here: "))
if a%2 == 0:
    print("Number is even")
else:
    print("Number is odd")

Enter the number here:  1

Number is odd

In [12]:
# Q3
marks = int(input("Enter your marks here: "))
if marks>=90:
    print('You got Grade A buddy.')
elif marks>=75 and marks<90:
    print('You got Grade B kid.')
elif marks>=50 and marks<75:
    print('You got a C in exams, STUDY HARDER!!')
elif marks<50 and marks>=0:
    print('You get my D and a D grade.')
else:
    print('Enter valid marks you retard.')

Enter your marks here:  0

You get my D and a D grade.

In [16]:
# Q4
year = int(input("Enter your year: "))
if year%4==0:
    print("It is a leap year!!")
else:
    print('It is not a leap year:(')

Enter your year:  2044

It is a leap year!!

In [24]:
# Q5
a = int(input('Enter the first number here: '))
b = int(input('Enter the second number here: '))
c = int(input('Enter the third number here: '))

if a>=b and a>=c:
    print(f'{a} is the greatest of all time. ')
elif b>=c and b>=a:
    print(f'{b} is the greatest of all time. ')
elif c>=b and c>=a:
    print(f'{c} is the greatest of all time. ')
else:
    print('Input sahi daal madarchod')

Enter the first number here:  5
Enter the second number here:  5
Enter the third number here:  5

5 is the greatest of all time.

In [3]:
# Q6
vow = input("Enter your letter: ")
if 'a'or'e'or 'i' or 'o' or'u' in vow:
    print('The aforementioned letter is a vowel')
elif 'A'or'E'or'I'or'O'or'U' in vow:
    print('The aforementioned letter is a vowel')
else:
    print('It is a consonant:(')

Enter your letter:  U

The aforementioned letter is a vowel

In [58]:
# Q7
nu = int(input('Enter you number here bitch: '))
if nu>0 and nu%2 == 0:
    print('The number here is positive and even')
elif nu>0 and nu%2 != 0:
    print('The number here is positive and odd')
elif nu<0:
    print('The number is negative')
elif nu==0:
    print('It is a BIG FAT ZERO')
else:
    print('INPUT SAHI DAAL MADARCHOD!!!!')

Enter you number here bitch:  -718943519738539759291257125782157812991273129

The number is negative

In [64]:
# Q8
bmi = float(input("Enter your Body Mass Index(BMI): "))
if bmi<18.5:
    print('You are an underweight piece of shit.')
elif bmi>=18.5 and bmi<25:
    print('You are normal weight.')
elif bmi>=25 and bmi<30:
    print('You are overweight.')
elif bmi>=30:
    print('You are obese, thoda chal le mote bhainse.')

Enter your Body Mass Index(BMI):  49

You are obese, thoda chal le mote bhainse.

In [7]:
# Q9
color = input('Enter your colour: ')
if 'red' in color:
    print('STOP NIGGA BOY')
elif 'yellow' in color:
    print('Ready to move bitch')
elif 'green' in color:
    print('Go Diego Go')
else:
    print('Fav colour nhi daalna tha chutiye')

Enter your colour:  green

Go Diego Go

In [11]:
# Q10
bill = int(input('Enter your bill amount: '))
if bill>=5000:
    print('YOUR DISCOUNT IS 20%, yayyyyy')
elif bill>=3000 and bill<5000:
    print('YOUR DISCOUNT IS 15%, yayyyyy')
elif bill>=1000 and bill<3000:
    print('YOUR DISCOUNT IS 10%, yayyyyy')
elif bill<1000:
    print('YOUR DISCOUNT IS 0%, gareeb saale')
else:
    print('Khana toh order kar lodu')

Enter your bill amount:  2999

YOUR DISCOUNT IS 10%, yayyyyy

In [17]:
# loops
# Q1
N = int(input("Enter you number here: "))
for i in range(1,N+1):
    print(i)
    i=+1

Enter you number here:  2

1
2

In [3]:
# Q2
N = int(input('Enter your number here: '))
s = 0
i = 0
while i < N:
    i+=1
    s = s+i
    

print(f'sum is {s}')

Enter your number here:  5

sum is 15

In [1]:
# Q3
num = int(input('Enter you number here:'))
for i in  range(1,11):
    print(f'{num} X {i} = {num*i}')
    i=+1

Enter you number here: 9

9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81
9 X 10 = 90

In [11]:
# Q4
start = int(input('Enter the starting number here: '))
end = int(input('Enter the ending number here: '))

for i in range(start,end):
    if i%2==0:
        print(i,end=' ')

Enter the starting number here:  1
Enter the ending number here:  101

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [1]:
# Q5
fact = int(input("enter your number: "))
i=1
product=1
while i<fact:
    i=i+1
    product=product*i

print(f'the factorial of the number is {product}')

enter your number:  3

the factorial of the number is6

In [3]:
# Q6
# Input a number from the user
number = int(input("Enter a number: "))

# Initialize reverse variable
reverse = 0

# Use while loop to reverse the number
while number > 0:
    last_digit = number % 10  # Extract the last digit
    reverse = reverse * 10 + last_digit  # Update reverse
    number //= 10  # Remove the last digit from the original number

# Print the reversed number
print("Reversed number:", reverse)

Enter a number:  12345

Reversed number: 54321

In [11]:
# Q7
num = int(input('Enter your number here: '))
a,b = 0,1
print('Fibonacci series:')

for i in range(num):
    print(a,end='  ')
    a,b = b,a+b

Enter your number here:  99

Fibonacci series:
0  1  1  2  3  5  8  13  21  34  55  89  144  233  377  610  987  1597  2584  4181  6765  10946  17711  28657  46368  75025  121393  196418  317811  514229  832040  1346269  2178309  3524578  5702887  9227465  14930352  24157817  39088169  63245986  102334155  165580141  267914296  433494437  701408733  1134903170  1836311903  2971215073  4807526976  7778742049  12586269025  20365011074  32951280099  53316291173  86267571272  139583862445  225851433717  365435296162  591286729879  956722026041  1548008755920  2504730781961  4052739537881  6557470319842  10610209857723  17167680177565  27777890035288  44945570212853  72723460248141  117669030460994  190392490709135  308061521170129  498454011879264  806515533049393  1304969544928657  2111485077978050  3416454622906707  5527939700884757  8944394323791464  14472334024676221  23416728348467685  37889062373143906  61305790721611591  99194853094755497  160500643816367088  259695496911122585  420196140727489673  679891637638612258  1100087778366101931  1779979416004714189  2880067194370816120  4660046610375530309  7540113804746346429  12200160415121876738  19740274219868223167  31940434634990099905  51680708854858323072  83621143489848422977  135301852344706746049

In [27]:
# Q8
# Input a number from the user
number = int(input("Enter a number: "))

# Initialize digit counter
count = 0

# Use a while loop to count the digits
while number > 0:
    number //= 10  # Remove the last digit
    count += 1  # Increment the digit count

# Print the result
print("Number of digits:", count)

Enter the number here:  12345

5

In [37]:
# Q9
# Input the range
start = int(input("Enter the start of the range: "))
end = int(input("Enter the end of the range: "))

print(f"Prime numbers between {start} and {end}:")

# Loop through each number in the range
for num in range(start, end + 1):
    # Skip numbers less than 2 (not prime)
    if num < 2:
        continue

    # Check if the number is prime
    is_prime = True
    for i in range(2, int(num ** 0.5) + 1):  # Check divisors up to sqrt(num)
        if num % i == 0:
            is_prime = False
            break  # No need to check further

    if is_prime:
        print(num, end=" ")  # Print the prime number

1

In [78]:
# Q10
a = int(input('Enter the number here: '))

for i in range (1, a+1):
    print('*'*i)

Enter the number here:  5

*
**
***
****
*****