In [8]:
S1 = {}
print(type(S1)) 
# So to print an empty set 
S2 = set()
print(type(S2))

<class 'dict'>
<class 'set'>

In [14]:
S3 = {1,2,3,4,5} #homogenous sets
print(S3)
S4 = {'hello',1,4.5,None,False} #heterogenous sets
print(S4)

{1, 2, 3, 4, 5}
{None, 1, False, 4.5, 'hello'}

In [16]:
S5 = {1,1,2,3,4,2,3,1,2,3}
print(S5) 
# therefore sets do not allow duplicates.

{1, 2, 3, 4}

In [20]:
S6 = {[1,2,3],'anay'}
print(S6) # sets do not allow list inside itself

TypeError: unhashable type: 'list'

In [27]:
S7 = {(1,2,3),"hello"}
print(S7) #but does allow tuple therefore, sets do not allow mutable data types.

{(1, 2, 3), 'hello'}

In [31]:
S8 = {{1,2},{3,4}}
print(S8)

TypeError: unhashable type: 'set'

In [33]:
print(S3)

{1, 2, 3, 4, 5}

In [35]:
S3[0:2]

TypeError: 'set' object is not subscriptable

In [37]:
print(S3)

{1, 2, 3, 4, 5}

In [52]:
S3.add(69)
print(S3)

{4, 5, 69}

{4, 5, 69}

In [58]:
s1 = {99,45,18,7,10,32}
print(len(s1))
print(min(s1))
print(max(s1))
print(sum(s1))
print(sorted(s1))
print(sorted(s1,reverse = True))

6
7
99
211
[7, 10, 18, 32, 45, 99]
[99, 45, 32, 18, 10, 7]

In [66]:
s1 = {1,2,3,4,5}
s2 = {3,4,5,6,7}
print(s1.union(s2))
print(s1.intersection(s2))
print(s1.difference(s2)) #woh items jo s1 mei hain but s2 mei nhi
print(s2.difference(s1)) #woh items jo s2 mei hain but s1 mei nhi
print(s1.symmetric_difference(s2)) #common elements minus ho jaate hain
print(s1.isdisjoint(s2)) #when  they have no element in common
print(s1.issubset(s2)) #s1 is subset of s2 or not
print(s1.issuperset(s2)) #s1 is superset of s2 or not

{1, 2, 3, 4, 5, 6, 7}
{3, 4, 5}
{1, 2}
{6, 7}
{1, 2, 6, 7}
False
False
False