In [26]:
T1 = () #empty tuple
print(T1)
T2 = (1,2,3,4,5) #homogenous tuple
print(T2)
T3 = ("a", True,6.9, None) #heterogenous
print(T3)
T4 = (1,2,3,('anay',69)) #2D Tuple
print(T4)
T5 = ((1,2,(3,4)),('anay',7,('wasssup','nigga'))) #3D tuple
print(T5)
T6 = (1)
type(T6) #int
T7 = ('anay')
type(T7) #str
T8 = (1,)
type(T8) #tuple
T9 = tuple('Yashi')
print(T9)
T10 = tuple([1,2,3,4,5])
print(T10)

()
(1, 2, 3, 4, 5)
('a', True, 6.9, None)
(1, 2, 3, ('anay', 69))
((1, 2, (3, 4)), ('anay', 7, ('wasssup', 'nigga')))
('Y', 'a', 's', 'h', 'i')
(1, 2, 3, 4, 5)

In [42]:
print(T2[0])
print(T3[:2])
print(T4[-1][-2])
print(T5[1][2][1])

1
('a', True)
anay
nigga

In [50]:
# operations
print(T2+T3)
print(T2*3)
for i in T3:
    print(i)
print(69 in T3)

(1, 2, 3, 4, 5, 'a', True, 6.9, None)
(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)
a
True
6.9
None
False

In [52]:
print(len(T2))
print(min(T2))
print(max(T2))
print(sorted(T2))
print(sorted(T2,reverse=True))

5
1
5
[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]